---
user_name: "{{ full_name }}"
user_email: "{{ email_address }}"
downloads: ~/.ansible-downloads/

default_python_version: 2.7.15
# Glob pattern to ansible task files to run after all other tasks are finished.
post_provision_tasks:
  - tasks/post-provision.yml

sp_git_repos_local_directory: ~/envs
sp_git_repos:
  - ansible
  - cdef
  - paywall
  - publisher-feeds
  - single-api
  - sp-perftest
  - spbilling
  - spdj
  - spfb
  - spv2

mas_installed_sp_apps: []

homebrew_upgrade_all_packages: True
homebrew_sp_packages:
  - autoconf
  - awscli
  - bash-completion
  - coreutils
  - gettext
  - git
  - git-secrets
  - gpg
  - mysql-client
  - openssl
  - pwgen
  - pyenv
  - pyenv-pip-migrate
  - pyenv-virtualenv
  - readline
  - sqlite
  - tmux
  - vagrant-completion

homebrew_taps:
  - homebrew/core
  - homebrew/cask

homebrew_cask_appdir: /Applications
homebrew_cask_sp_apps:
  - aws-vault
  - font-dejavusansmono-nerd-font
  - font-droidsansmono-nerd-font
  - font-hack-nerd-font
  - github
  - hipchat
  - iterm2
  - mysql-client
  - mysql-connector-python
  - postman
  - utc-menu-clock
  - vagrant
  - virtualbox

osx_script: "~/.osx --no-restart"

composer_sp_packages: []
gem_sp_packages: []
npm_sp_packages: []
pip_sp_packages:
  - state: latest
    name:
    - pip
    - wheel
    - setuptools
    - virtualenv

mas_installed_apps: "{{ mas_installed_sp_apps + mas_additional_installed_apps }}"
homebrew_cask_apps: "{{ homebrew_cask_sp_apps + homebrew_cask_additional_apps }}"
homebrew_installed_packages: "{{ homebrew_sp_packages + homebrew_additional_packages }}"

composer_packages: "{{ composer_sp_packages + composer_additional_packages }}"
gem_packages: "{{ gem_sp_packages + gem_additional_packages }}"
npm_packages: "{{ npm_sp_packages + npm_additional_packages }}"
pip_packages: "{{ pip_sp_packages + pip_additional_packages }}"

